In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit



data_path = "./datasets/diabetes.csv"

In [2]:
df = pd.read_csv(data_path)
df.head().T

             0       1        2       3        4
preg     6.000   1.000    8.000   1.000    0.000
plas   148.000  85.000  183.000  89.000  137.000
pres    72.000  66.000   64.000  66.000   40.000
skin    35.000  29.000    0.000  23.000   35.000
insu     0.000   0.000    0.000  94.000  168.000
mass    33.600  26.600   23.300  28.100   43.100
pedi     0.627   0.351    0.672   0.167    2.288
age     50.000  31.000   32.000  21.000   33.000
class    1.000   0.000    1.000   0.000    1.000

In [3]:
df.describe()

,preg,plas,pres,skin,insu,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
df['class'].value_counts()

0    500
1    268
Name: class, dtype: int64

In [36]:
g = df.groupby('class')
g.apply(lambda x: x.sample(g.size().max()).reset_index(drop=True))

ValueError: Cannot take a larger sample than population when 'replace=False'

In [35]:
x = g.apply(lambda x: x.sample(g.size().min()).reset_index(drop=True))
x

           preg  plas  pres  skin  insu  mass   pedi  age  class
class
0     0       4   144    58    28   140  29.5  0.287   37      0
      1       4    90    88    47    54  37.7  0.362   29      0
      2       1    90    62    18    59  25.1  1.268   25      0
      3       5   105    72    29   325  36.9  0.159   28      0
      4       2   129    74    26   205  33.2  0.591   25      0
...         ...   ...   ...   ...   ...   ...    ...  ...    ...
1     263     4   125    80     0     0  32.3  0.536   27      1
      264     0   140    65    26   130  42.6  0.431   24      1
      265     0   105    84     0     0  27.9  0.741   62      1
      266    12    92    62     7   258  27.6  0.926   44      1
      267     8   196    76    29   280  37.5  0.605   57      1

[536 rows x 9 columns]